/* import 'Urbanist' font-family */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Apply 'Urbanist' font-family to whole body */
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  background-color: #eaeced;
}

/* custom container */
.custom-container {
  width: 100%;
  max-width: 1400px;
}
