/* import 'Urbanist' font-family */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: white;

  --color-primary: #caeb66;

  --color-primary-content: #1f1f1f;
  --color-base-content: #606060;
}

/* Apply 'Urbanist' font-family to whole body */
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  background-color: #eaeced;
  min-height: 100vh;
}

/* custom container */
.custom-container {
  width: 100%;
  max-width: 1400px;
}

/* NavLink state styles */
a.active {
  @apply font-bold bg-primary px-4 py-2 rounded-[50px] duration-100;
}

a.pending {
  @apply opacity-50;
}

/* shared buttons styles */
.btn-primary {
  @apply bg-primary rounded-xl px-6 text-primary-content font-bold;
}

.btn-secondary {
  @apply bg-base-100 border-[#DADADA] rounded-xl shadow-none px-6 text-base-content font-bold;
}

/* ---- STARFIELD ---- */

.stars,
.stars2,
.stars3 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    100px 200px #fff,
    300px 400px #fff,
    500px 900px #fff,
    800px 120px #fff,
    1200px 760px #fff,
    1500px 820px #fff;
  animation: animStar 150s linear infinite;
}

.stars2 {
  box-shadow:
    200px 300px #fff,
    600px 700px #fff,
    900px 150px #fff,
    1300px 900px #fff;
  animation: animStar 250s linear infinite;
}

.stars3 {
  box-shadow:
    50px 400px #fff,
    450px 800px #fff,
    1100px 200px #fff,
    1600px 600px #fff;
  animation: animStar 350s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}

@layer utilities {
  .neon-title {
    -webkit-text-stroke: 1px #7f8cff;
    text-shadow:
      0 0 8px #7f8cff,
      0 0 24px #7f8cff,
      0 0 48px #7f8cff;
  }

  .neon-title:hover {
    text-shadow:
      0 0 12px #9aa6ff,
      0 0 32px #9aa6ff,
      0 0 64px #9aa6ff,
      0 0 80px #b8c2ff;
  }
}
